* {
    margin: 0;
}

.top {
    width: 100%;
    height: 70px;
    background-color: antiquewhite;
}

.mr {
    margin-left: 15%;
}

.home img {
    float: left;
    margin-left: 15%;
    margin-top: 10px;
}

.sach img {
    margin-left: 70px;
    margin-top: 10px;
    float: left;
}

.sach p {
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}

.vpp img {
    float: left;
    margin-left: 70px;
    margin-top: 10px;
}

.vpp p {
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}

.vat-dung img {
    float: left;
    margin-top: 13px;
    margin-left: 70px;
}

.vat-dung p {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.qua img {
    float: left;
    margin-top: 13px;
    margin-left: 70px;
}

.qua p {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.cn img {
    float: left;
    margin-top: 13px;
    margin-left: 70px;
}

.cn p {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.fashion img {
    float: left;
    margin-top: 13px;
    margin-left: 70px;
}

.fashion p {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.top2 {
    margin-top: 30px;
    float: left;
    background-color: whitesmoke;
    width: 100%;
    height: 70px;
}

.top2 img {
    margin-left: 15%;
    margin-top: 20px;
}

.form {
    float: left;
    width: 400px;
    height: 650px;
    margin-left: 33%;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.form h1 {
    margin-left: 30px;
    margin-top: 20px;
}

.dk-fb {
    float: left;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    height: 50px;
    background-color: blue;
    border-radius: 10px;
}

.dk-fb p {
    font-size: 20px;
    color: white;
    margin-left: 22px;
    margin-top: 10px;
}

.gt select {
    border-radius: 5px;
    margin-top: 20%;
    margin-left: 10%;
    float: left;
    width: 80%;
    height: 40px;
}

.gt select:hover {
    border: 0 0 5px gray;
}

.name {
    float: left;
    margin-left: 10%;
    margin-top: 15px;
}

.name input {
    border-radius: 5px;
    float: left;
    width: 313px;
    height: 40px;
}

.mail {
    float: left;
    margin-top: 15px;
    margin-left: 10%;
}

.mail input {
    border-radius: 5px;
    float: left;
    width: 313px;
    height: 40px;
}

.date {
    float: left;
    margin-left: 10%;
    margin-top: 15px;
}

.date input {
    border-radius: 5px;
    float: left;
    width: 314px;
    height: 40px;
}

.mk {
    float: left;
    margin-left: 10%;
    margin-top: 15px;
}

.mk input {
    border-radius: 5px;
    float: left;
    width: 314px;
    height: 40px;
}

.lai-mk {
    float: left;
    margin-left: 10%;
    margin-top: 15px;
}

.lai-mk input {
    border-radius: 5px;
    float: left;
    width: 314px;
    height: 40px;
}

.dang-ki {
    border-radius: 5px;
    float: left;
    width: 80%;
    height: 40px;
    margin-top: 30px;
    margin-left: 10%;
    background-color: red;
}

.dang-ki h2 {
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 2%;
}